#toggle-toc-button TOC
ul#toc.hidden
  li
    a(href="#page0") Intro
  li
    a(href="#page1") Overview
  li
    a(href="#page2") Features: Getting Started
  li
    a(href="#page3") All Databases
  li
    a(href="#page4") All Documents
  li
    a(href="#page5") Replication
  li
    a(href="#page6") Configuration
  li
    a(href="#page7") Verify
  li
    a(href="#page8") Troubleshooting
  li
    a(href="#page9") Answers!

//- ----------------------------------------------------------------------------------------------------------------------------
#page0.pagecontainer
  .leftside.linen.page 
    #introBox.textbox 
      h1 Fauxton
      h2 A visual guide


  .rightside.page 
    img(src='assets/couch.png').couch
//- ----------------------------------------------------------------------------------------------------------------------------
#page1.pagecontainer
  .leftside.page
        img(src='assets/couchdb-logo.png')
  .rightside.linen.page
    .textbox
      h1 Overview
      p Welcome to Fauxton. 
      p. 
        Fauxton is a native web-based interface built into CouchDB. It provides 
        a basic interface to the majority of the functionality, including the 
        ability to create, update, delete and view documents and views, provides 
        access to the configuration parameters, and an interface for initiating 
        replication.



//- ----------------------------------------------------------------------------------------------------------------------------
#page2.pagecontainer
  .leftside.page
        img(src='assets/x.png')
  .rightside.linen.page
    .textbox
      h1 Features: Getting Started
      p. 
        1 heloo theare
        2 thayou are hfahisoe
        3 afjadksfpds
        4 afsjdklfas
//- ----------------------------------------------------------------------------------------------------------------------------
#page3.pagecontainer
  .leftside.page
        img(src='assets/all-dbs.png')
  .rightside.linen.page
    .textbox
      h1 All Databases
      p. 
        1 heloo theare
        2 thayou are hfahisoe
        3 afjadksfpds
        4 afsjdklfas
//- ----------------------------------------------------------------------------------------------------------------------------
#page4.pagecontainer
  .leftside.page
        img(src='assets/all-docs.png')
  .rightside.linen.page
    .textbox
      h1 All Documents
      p. 
        1 heloo theare
        2 thayou are hfahisoe
        3 afjadksfpds
        4 afsjdklfas
//- ----------------------------------------------------------------------------------------------------------------------------
#page5.pagecontainer
  .leftside.page
        img(src='assets/replicator.png')
  .rightside.linen.page
    .textbox
      h1 Replication
      p. 
        1 heloo theare
        2 thayou are hfahisoe
        3 afjadksfpds
        4 afsjdklfas
//- ----------------------------------------------------------------------------------------------------------------------------
#page6.pagecontainer
  .leftside.page
        img(src='assets/config.png')
  .rightside.linen.page
    .textbox
      h1 Configuration
      p. 
        1 heloo theare
        2 thayou are hfahisoe
        3 afjadksfpds
        4 afsjdklfas 
//- ----------------------------------------------------------------------------------------------------------------------------
#page6a.pagecontainer
  .leftside.page
        img(src='assets/cors.png')
  .rightside.linen.page
    .textbox
      h1 CORS
      p. 
        CORS stands for Cross Origin Resource Sharing. It is setting that 
        pertains only to browsers.
      p.
        By enabling CORS, you allow other people, from <i>their</i> computers,
        to access the data you have stored in your CouchDB databases. For 
        example, they can ping your CouchDB instance through an AJAX request,
         and it will return information. Or they can post data to your CouchDB 
         instance, and CORS allows you to recieve that information.
      p.
        If you disable CORS, that means that no browser that pings your databases 
        will recieve information. You can also limit who can ping you. If you only 
        want certain websites, or origins, to be able to recieve data from your 
        stores, you can set 'Restrict to specific domains', and then list which 
        origins you want to allow access for.
      p. 
        By setting, 'All domains', you allow anyone from anywhere to ping your 
        databases, and retrieve information that way.
      p. 
        This is a browser specific layer of protection, a second layer of 
        protection, if you will. The first layer of protection comes from the 
        permissions you set on each database, and whether they have _reader, 
        _writer, _admin, etc. access.

//- ----------------------------------------------------------------------------------------------------------------------------
#page7.pagecontainer
  .leftside.page
        img(src='assets/verify.png')
  .rightside.linen.page
    .textbox
      h1 Verify
      p. 
        1 heloo theare
        2 thayou are hfahisoe
        3 afjadksfpds
        4 afsjdklfas 
//- ----------------------------------------------------------------------------------------------------------------------------
#page8.pagecontainer
  .leftside.page
        img(src='assets/x.png')
  .rightside.linen.page
    .textbox
      h1 Troubleshooting
      p. 
        1 heloo theare
        2 thayou are hfahisoe
        3 afjadksfpds
        4 afsjdklfas
//- ----------------------------------------------------------------------------------------------------------------------------
#page9.page
  .leftside.page
        img(src='assets/x.png')
  .rightside.linen.page
    .textbox
      h1 Answers!
      p. 
        1 heloo theare
        2 thayou are hfahisoe
        3 afjadksfpds
        4 afsjdklfas